{
    "compiler" : "modular" , 

    "alias" : {
        "core" : "./src/scripts/core"
    } ,
    
    "export" : [
        "styles/a.css" , 

        "scripts/page-a.js" , 
        { "path" : "scripts/page-b.js" , "parents" : [ "scripts/page-a.js" ] } , 
        { "path" : "scripts/page-c.js" , "no_version" : true }
    ] 
}