@import url('a')
@import url('b')
@import url('c.css')

/* this is page-a.css */

.foo {
    bar: foo;
}
    
@import nib

.opacity
    opacity .5
    
.transform
    transform 1s all
    
.box-shadow
    box-shadow 10px
    
.border-radius
    border-radius 10px
    
.ellipsis
    overflow ellipsis

.clearfix
    clearfix()

.position
    absolute top 10px right 0