@import url('a')
@import url('b')
@import url('c.css')

/* this is page-a.css */

.foo
    bar foo
    
@import nib

.bar
    opacity .5
    transform 1s all
    box-shadow 10px
    border-radius 10px
