{
    "compiler": "component",
    "name": "jade-web",
    "version": "1.0.1",
    "author" : "shawn.cao",
    "email" : "shawn.cao@qunar.com",
    "description" : "Jade Template Engine Web Browser runtime",
    "repository":"https://github.com/netwjx/jade-web.git",
    "dependencies": {},
    "alias": {},
    "export": []
}